.basket{
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    &__row{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__row_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__row_promo{
        box-sizing: border-box;
        margin-top: 20px;
        border-top: 3px solid rgb(219, 219, 219);
        border-bottom: 3px solid rgb(219, 219, 219);
        padding: 10px;
    }
    .basket__items_wrapper{
        position: relative;
        margin-top: 15px;
        border-radius: 10px;
        height: 450px;
        border: 1px solid rgb(219, 219, 219);
        align-items: start;
        overflow-y: scroll;
    }
    &__row_items{
        margin-top: 15px;
        display: flex;
        align-items: center;
        position: relative;

    }
    &__delete_icon{
        font-size: 22px;
        position: absolute;
        right: 150px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;
        &:hover{
            background-color: rgb(235, 232, 232);
        }
    }
    &__col-1{
        min-width: 500px;
        max-width: 500px;
        display: flex;
        justify-content: space-between;
    }
    &__col-2{
        min-width: 200px;
        max-width: 200px;
    }
    &__col-3{
        min-width: 150px;
        max-width: 150px;
    }
    .basket__col_first{
        display: flex;
        align-items: center;
        justify-content: start;
    }
    &__wrapper{
        padding: 30px ;
        width: 90%;
        height: 85%;
        background-color: #fff;
        border-radius: 10px;
    }
    &__close_btn{
        padding: 5px;
        font-size: 32px;
        color: $black;
        cursor: pointer;
        &:hover{
            background-color: rgb(231, 231, 231);
        }
    }
    &__line{
        height: 1px;
        width: 90%;
        margin: 0 auto;
        background-color: rgb(219, 219, 219);
        margin-top: 10px;
    }
    &__header{
        font-size: 32px;
    }
    .bold_text{
        font-weight: bold;
    }
    .basket__photo_item{
        width: 110px;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .basket__name_item{
        padding-left: 15px;
    }
}
