.facebook{
    background-color: #F0F2F5;
    height: 720px;
    display: flex;
    align-items: center;
    &__logo{
        height: 106px;
        transform: translateX(-30px);
    }
    &__left_wrapper{
      width: 455px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transform: translateY(-40px);
    }
    &__header{
        font-family: "SFProDisplay-Regular", Helvetica, Arial, sans-serif;
        font-size: 27px;
        line-height: 30px;
        transform: translateY(-34px);
        letter-spacing: normal;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateY(-18px);
    }
    &__right_wrapper{
        display: flex;
        flex-direction: column;
        width: 400px;
    }
    &__form{
        display: flex;
        flex-direction: column;
        // align-items: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        padding-bottom: 24px;
        box-shadow: 0 2px 10px rgba(0,0,0, .2);
    }
    .password{
        margin-top: 10px;
    }
    &__form_input{
        padding: 14px 16px;
        border: 1px solid #DDDFE2;
        border-radius: 6px;
        width: 330px;
        height: 22px;
        font-size: 17px;
    }
    .facebook__form_input:focus{
        border-color: #1877f2;
        box-shadow: 1px 1px 5px rgba(24,119,242, .3);
        outline: none;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: #90949C;
    }
    &__enter_btn{
        background-color: #1877f2;
        border: none;
        border-radius: 6px;
        font-size: 20px;
        line-height: 48px;
        padding: 0 16px;
        width: 100%;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        margin-top: 15px;
        transition: 0.3s;
        &:hover{
            background-color: #1266d3;
        }
    }
    &__lost_password{
        text-decoration: none;
        color: #1877f2;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        margin-top: 20px;
        &:hover{
            text-decoration: underline;
        }
    }
    .horizontal_line{
        border-bottom: 1px solid #dadde1;
        margin-top: 20px;
        margin-bottom: 24px;
    }
    &__create_account{
        border: none;
        border-radius: 6px;
        font-size: 17px;
        line-height: 48px;
        padding: 0 16px;
        cursor: pointer;
        background-color: #42b72a;
        color: #fff;
        font-weight: bold;
        width: 240px;
        text-align: center;
        margin: 0 auto;
        transition: 0.3s;
        &:hover{
            background-color: #379e22;
        }
    }
    &__after_info{
        border-top: none;
        color: #1c1e21;
        font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding-top: 0;
        text-align: center;
        margin-top: 25px;
        a{
            font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.facebook__container{
    width: 980px;
    margin: 0 auto;
}
.facebook__line_footer{
    height: 1px;
    width: 100%;
    background-color: #cdc6d1;
}
.facebook__footer{
    font-size: 12px;
    color: #938899;
    .facebook__container{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin-top: 15px;
    }
    a{
        &:hover{
            text-decoration: underline;
        }
    }
    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        flex-wrap: wrap;
        width: 100%;
        transform: translateX(-40px);
        a{
            color: #938899;
            text-decoration: none;
        }
    }
    .facebook__link_list{
        justify-content: start;
        line-height: 18px;
        li{
            margin-right: 26px;
        }
    }
}

.facebook__complete_window{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #F0F2F5;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    display: none;
    img{
        height: 60px;
        margin-top: 50px;
    }
    .header{
        margin-top: 20px;
        font-size: 26px;
    }
    .subheader{
        margin-top: 10px;
        font-size: 16px;
    }
    a{
        margin-top: 20px;
        text-transform: uppercase;
        &:hover{
            text-decoration: underline;
        }
    }
    .facebook__line_footer{
        margin-top: 20px;
    }
    span{
        margin-top: 10px;
        color: grey;
    }
}