header{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    .header__logo{
        height: 90px;
        img{
            height: 100%;
        }
    }
    .header__line{
        height: 1px;
        width: 300px;
        background-color: white;
    }
}