.products {
    display: flex;
    background-color: $black;
    height: 2000px;
    .container {
        overflow: visible;
        width: 1080px;
        background-color: #fff;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        &::-webkit-scrollbar{
            width: 0px;
        }
        &::-webkit-scrollbar-thumb{
            background: #d13056;
            border-radius: 10px;
        }
    }

    &__header {
        font-size: 16px;
        color: #fff;
    }
    .products__wrapper{
        margin-top: 30px;
    }
    .products__navigation {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        padding-left: 20px;
        &_item {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            background: -webkit-linear-gradient(155deg, #ffa500, #d13056);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(155deg, #ffa500, #d13056);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            height: 60px;
            width: 240px;
            border-radius: 10px;
            margin-top: 10px;
        }
    }
    &__title{
        position: relative;
        z-index: 2;
        margin-top: 50px;
        text-transform: uppercase;
        img{
            height: 100px;
            filter: drop-shadow(5px 5px 10px rgb(136, 136, 136));
        }
        div{
            position: absolute;
            top: 50%;
            left: 50px;
            color: #fff;
            font-size: 30px;
            transform: translateY(-50%);
            text-shadow: 2px 1px 15px rgba(0,0,0, .7);
        } 
        .end_category_line{
            height: 2px;
            width: 100%;
            background-color: red;
            z-index: -1;
            transform: translateY(-4px);
        }
    }
    &__row{
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
    } 
}