.promo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 620px;      
    position: relative;            
    background-color:   #ffffff;            
    z-index: -2;                  
    &__bg_gradient{
        position: absolute;
        background: linear-gradient(90deg, #c52020,#ff751a);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                                       
        height: 1600px;
        width: 900px;   
        transform: rotate(-25deg);
        z-index: -1;  
        left: -230px;     
        border-right: 3px solid #f16b18;    
        box-shadow: inset 2px 2px 20px black;                               
    }
    &__info{
        max-width: 700px;
    }
    &__image{
        height: 300px;
        width: 670px;
        img{
        height: 100%;
        transform: translateX(-20%);
        filter: drop-shadow(5px 5px 30px rgb(227, 250, 97));
        }
    }
    .benefits{
        &__header{
            margin-left: 25px;
        }
        &__item{
            display: flex;
            margin-left: 10px;
            align-items: center;
            margin-top: 30px;
            font-size: 16px;
            img{
                height: 60px;
            }
            .benefits__delivery{
                height: 45px;
                margin-left: 30px;
            }
            .benefits__price{
                margin-left: 90px;
            }
            .benefits__garanty{
                margin-left: 140px;
            }
            p{
                margin-left: 50px;
                width: 500px;
                span{
                    color: rgb(11, 189, 11);
                }
            }
        }
    }
}