.products {
    display: flex;
    background-color: $black;
    height: 8700px; // 5000 - без прокрутки
    .container {
        width: 1200px;
        background-color: #fff;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        transition: all 0.5s ease-out;
    }
    &__header {
        font-size: 13px;
        color: #fff;
        margin-bottom: 30px;
    }
    .products__wrapper{
        margin-top: 30px;
    }
    .products__navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        padding-left: 15px;
        padding-right: 10px;
        margin: 0 auto;
        min-width: 260px;
        transition: 0.5s ease;
        background: linear-gradient(90deg, #202020,#363636,#202020);
        border-right: 1px solid #FFA500;
        z-index: 10;
        position: fixed;
        top: 0;
        left: -321px;
        height: 100vh;
        &_item {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            background: -webkit-linear-gradient(155deg, #ffa500, #d13056);
            background: linear-gradient(155deg, #ffa500, #d13056);
            height: 60px;
            width: 240px;
            border-radius: 10px;
            margin-top: 20px;
            &:hover{
                border: 2px solid #fff;
            }
        }
    }
    &__title{
        position: relative;
        z-index: 2;
        margin-top: 50px;
        text-transform: uppercase;
        img{
            height: 100px;
            filter: drop-shadow(5px 5px 10px rgb(136, 136, 136));
        }
        div{
            position: absolute;
            top: 50%;
            left: 50px;
            color: #fff;
            font-size: 30px;
            transform: translateY(-50%);
            text-shadow: 2px 1px 15px rgba(0,0,0, .7);
        }
        .end_category_line{
            height: 2px;
            width: 100%;
            background-color: red;
            z-index: -1;
            transform: translateY(-4px);
        }
    }
    &__row{
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        a{
            text-decoration: none;
            color: $black;
        }
    }
}