.products__add_product_window{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    color: #fff;
    background-color: rgba($color: $black, $alpha: .7);
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    .window__wrapper{
        height: 200px;
        width: 500px;
        background: -webkit-linear-gradient(155deg, #ffa500, #d13056);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: inset 2px 2px 10px rgba(0,0,0, .5);
    }
    .window__close_btn{
        height: 40px;
        width: 40px;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0 10px 0 0;
        transition: 0.2s;
        &:hover{
            background-color: rgb(221, 219, 219);
            &::after{
                height: 60%;
            }
            &::before{
                height: 60%;
            }
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            width: 2px;
            height: 70%;
            background-color: $black;
            transform: translateY(25%) translateX(-50%) rotate(-45deg);
            transition: 0.3s;
        }
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            width: 2px;
            height: 70%;
            background-color: $black;
            transform: translateY(25%) translateX(-50%) rotate(45deg);
            transition: 0.3s;
        }
    }
    .window__header{
        font-size: 24px;
        text-shadow: 2px 2px 5px rgba(0,0,0, .7);
    }
    .window__buttons_wrapper{
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin-top: 25px;
        .window__btn{
            font-size: 16px;
            width: 210px;
            height: 40px;
            border: none;
            background-color: #fff;
            // box-shadow: inset 2px 2px 10px rgba(0,0,0, .2);

            border-radius: 5px;
            transition: 0.2s;
            &:hover{
                background-color: rgb(219, 219, 219);
                cursor: pointer;
            }
        }
        .window__next_shop_btn{
            &:hover{
                background-color: rgb(108, 216, 108);
                color: #fff;
            }
        }
        .window__go_garbage_btn{
            background-color: rgba(0,0,0, 0);
            border: 1px solid #fff;
            color: #fff;
            &:hover{
                background-color: rgb(245, 245, 1);
                color: $black;
            }
        }
    }
}