.products__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    width: 250px;
    height: 470px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    padding: 15px;
    position: relative;
    transition: 0.2s ease;
    &:hover{
        background-color: rgb(245, 245, 245);
    }
    &_bonus_block{
        position: absolute;
        top: 15px;
        left: 15px;
        width: 130px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }
    .new{
        background-color: #64A1F4;
        color: #fff;
    }
    .sale{
        background-color: orange;
        color: $black;
    }

    &_image{
        width: 100%;
        height: 270px;
    }
    img{
        width: 100%;
    }
    &_name{
        margin-top: 0px;
        font-size: 18px;
    }
    &_info{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        font-size: 14px;
        margin-top: 10px;
        color: #74747a;
        span{
            margin-top: 3px;
        }
    }
    &_price{
        margin-top: 14px;
        display: flex;
        flex-direction: column;
    }
    .current_price{
        font-size: 20px;
        color: red;
        margin-top: 3px;
        .ua{
            font-size: 16px;    
        }
    }
    .old_price{
        font-size: 16px;
        text-decoration: line-through;
        color: #797878;
        .ua{
            font-size: 14px;    
        }
    }
    &_add_btn{
        width: 250px;
        height: 40px;
        margin-top: 15px;
        border: none;
        background-color: orange;
        text-transform: uppercase;
        border-radius: 0px;
        transition: 0.4s ease;
        &:hover{
            cursor: pointer;
            background-color: rgb(255, 123, 0);
            border-radius: 15px;
        }
    }
    
}