@import "variables";
@import "header";
@import "nav_promo";
@import "promo";
@import "timer";
@import "products";
@import "products_item";
@import "products_add_product_window";
@import "comments";
@import "bonus_of_registration";

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
::-webkit-scrollbar{
    background-color: orange;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: -webkit-linear-gradient(90deg, #ffa500, #d13056);
    border-radius: 5px
}