@import "variables";
@import "header";
@import "nav_promo";
@import "promo";
@import "timer";
@import "products";
@import "products_item";

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}
.container{
    width: 1200px;
    margin: 0 auto;
}